<!-- <div style="text-align: center;">
  <h3>Angular Routing And Navigation</h3>
  <div class="box">
      <nav>
        <button class="btn btn-primary" routerLink="home" routerLinkActive="buttonClicked">Home</button>
        <br><br>
        <button class="btn btn-success " routerLink="/product" routerLinkActive="buttonClicked">Product</button><br><br>
        <button class="btn btn-dark" routerLink="/contact" routerLinkActive="buttonClicked">Contact</button>
      </nav>
  </div>
</div>
<router-outlet></router-outlet> -->
<app-template-form></app-template-form>