<!-- <div class="box">
    <li *ngFor="let product of products">
        <span class = "badge">{{product.id}}</span>{{product.name}}
    </li>
</div> -->
<div class="box">

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        
        <td><button class="btn btn-primary" (click)="onSelect(product)">View Detail</button></td>
      </tr>
      
    </tbody>
  </table>
</div>